---
title: About Us | Perfecto Precast
description: Learn more about Perfecto Precast, a leading manufacturer of high-quality precast concrete products. Discover our mission, vision, values, and the sectors we serve.
keywords: about Perfecto Precast, precast concrete, company mission, company vision, company values, concrete manufacturer, gandhinagar, sabarkantha, gujarat
layout: layouts/base.html
permalink: about.html
---

<main>
  <!--#region Pagebanner-->
  <div class="page-title-area pt-220 pb-240 pt-lg-120 pb-lg-125 pb-md-100"
        data-background="assets/img/page-title/page-title-bg-1a.jpg">
    <img class="page-title-shape shape-one" src="assets/img/shape/line-14d.svg" alt="shape"/>
    <img class="page-title-shape shape-two" src="assets/img/shape/pattern-1a.svg " alt="shape"/>

    <div class="container">
      <div class="row gx-4 gx-xxl-5 align-items-center">
        <div class="col-xl-6 col-md-6">
          <div class="page-title-wrapper text-md-start text-center">
            <h2 class="page-title mb-10">About Us</h2>
            <nav aria-label="breadcrumb">
              <ul class="breadcrumb list-none justify-content-center justify-content-md-start">
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li class="active" aria-current="page">About Us</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--#endregion Pagebanner-->

  <!-- #region About Company -->
  <section class="about__area">
    <div class="about__section__wrapper2 pt-245 pb-140 pt-lg-120 pb-lg-40 pb-md-20">
      <img class="about__shape__1" src="assets/img/shape/about-line-2a.svg" alt="About Shape"/>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-7 col-lg-6">
            <div class="about__img__wrapper__four mb-30">
              <img class="main__img__5d d-none d-xl-inline-block" src="assets/img/about/about-img-5d.jpg"
                    alt="About"/>
              <img class="main__img__4b" src="assets/img/about/about-img-4d.jpg" alt="About"/>
              <div class="experience__box">
                <img class="icon" src="assets/img/icon/icon-9a.svg" alt="Icon"/>
                <span>A+</span>
                <h3>12+ Years Of Experiences</h3>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-lg-6">
            <div class="about__text__wrapper ps-xl-3 mb-30">
              <div class="section__title mb-30">
                <h4 class="sub__title__one text-theme mb-20">
                      About Company
                    </h4>
                <h2 class="section__title__one mb-25">
                      Building the future One piece at a time.
                    </h2>
                <p class="mb-35">
                      Established In The Year 2012 At Gandhinagar And Gujrat,
                      We <strong>Perfecto Precast</strong> are a Partnership
                      Firm, Engaged As The Foremost Manufacturer Of T 6 900mm
                      Rcc Precast U Shape Drain, Rectangular Concrete Bollard
                      , 1400mm Precast Rcc Box Culvert Etc. Our commitment to
                      excellence is evident in every project we undertake, as
                      we strive to exceed expectations and deliver outstanding
                      results. Our expeerienced team of skilled professionals,
                      combined with state-of-the-art concrete manufacturing
                      facilities, ensures the highest standards of
                      craftsmanship, efficiency, and reliability.
                    </p>
              </div>
              <div class="quote__text mb-20">
                    “We make a concrete commitment to provide the best
                    quality, customer-centric solutions using the latest
                    precast concrete technologies.”
                  </div>
              <div class="author__info">
                <!-- <div class="author__img">
                        <img
                          src="assets/img/about/author-1b.jpg"
                          alt="Author"
                        /> -->
              </div>
              <div class="auhtor__content">
                <h5 class="author__name mb-1">Bharat N Patel</h5>
                <p class="author__designation">Perfecto Precast</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #endregion About Company -->

  <!-- #region Mission Vision -->
  <section class="mission__vision__area pt-md-20 pt-lg-120  pb-lg-40" id="mission">
    <div class="container">
      <div class="row">
        <!-- Vision -->
        <div class="col-xl-7 col-lg-7">
          <div class="vision__box mb-30" style="max-width: 590px; text-align: justify;">
            <div class="vision__text__wrapper">
              <h2 class="section__title__one mb-25">
                    Our Vision
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16">
                  <path fill="currentColor" fill-rule="evenodd"
                        d="M13.293 0c.39 0 .707.317.707.707V2h1.293a.707.707 0 0 1 .5 1.207l-1.46 1.46A1.14 1.14 0 0 1 13.53 5h-1.47L8.53 8.53a.75.75 0 0 1-1.06-1.06L11 3.94V2.47c0-.301.12-.59.333-.804l1.46-1.46a.7.7 0 0 1 .5-.207M2.5 8a5.5 5.5 0 0 1 6.598-5.39a.75.75 0 0 0 .298-1.47A7 7 0 1 0 14.86 6.6a.75.75 0 0 0-1.47.299q.109.533.11 1.101a5.5 5.5 0 1 1-11 0m5.364-2.496a.75.75 0 0 0-.08-1.498A4 4 0 1 0 11.988 8.3a.75.75 0 0 0-1.496-.111a2.5 2.5 0 1 1-2.63-2.686"
                        clip-rule="evenodd"/>
                </svg>
              </h2>
              <p class="mb-35">
                    By 2030, we aim to be recognized as India's
                    premier precast concrete manufacturing
                    leader, setting benchmarks with our superior
                    and sustainable products. We are dedicated
                    to serving vital sectors, including Power,
                    Water & Sewage, Railways, Industrial, and
                    Roads & Bridges, as we lay the foundation for
                    a resilient and progressive nation.
                  </p>
            </div>
          </div>
        </div>
        <!-- Mission -->
        <div class="col-xl-5 col-lg-5">
          <div class="mission__box mb-30">
            <div class="mission__text__wrapper">
              <h2 class="section__title__one mb-25">
                    Our Mission
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512">
                  <path fill="currentColor" d="m1.41 292.9l44.82 76.97l98.14-56.38l-44.73-77.37z"/>
                  <path fill="currentColor"
                        d="m287.87 252.34l23.67-13.81l-63.42-110l-132.92 77C133.75 237.51 176 310 176 310l15.53-8.32c.24-.13.55 0 .83 0L102.65 496h35.16l99.05-214.25l23.24-13.4L358 464h36ZM262.08 96c24.81 42.23 60.25 104.25 86.4 148.76L510.79 151L424.07 1.41Z"/>
                </svg>
              </h2>
              <p class="mb-35">
                    Our Mission to rise as the leading precast
                    concrete manufacturing company, setting
                    unparalleled standards in strength and
                    sustainability. We are on a journey to
                    construct a future-ready world.
                  </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- #endregion Mission Vision -->

  <!-- #region Our Values -->
  <section class="chose__us__area pt-210 pt-lg-90 pt-md-55 pb-80 pb-lg-95">
    <div class="big-style-text">Strength</div>
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-6 pe-xl-0">
          <div class="chose__text__wrapper mb-30">
            <h4 class="sub__title__one text-theme mb-20">Our Strength</h4>
            <h2 class="section__title__one mb-25">
                    Building Strength into Every Project We Undertake
                </h2>
            <ul class="text-list list-none">
              <li>In house design team</li>
              <li>In house quality control laboratory</li>
              <li>In house planning and managing team</li>
              <li>Regular quality checking with high tech equipment's.</li>
              <li>High grade production facility with 1320 Sq.mt. Area
and 13500 Sq.mt. of Storage area.</li>
            </ul>
          </div>
        </div>
        <div class="col-xl-7 col-lg-6">
          <div class="chose__img__wrapper mb-30">
            <img class="main__img__5d ps-xl-5 ms-xl-2" src="assets/img/chose/chose-img-5d.jpg" alt="Chose"/>
            <img class="main__img__6d d-none d-md-inline-block" src="assets/img/chose/chose-img-6d.jpg"
                  alt="Chose"/>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #endregion Our Values -->

  <!-- #region Counter -->
  <section class="grey-bg counter__area pt-105 pt-lg-50 pb-70 pb-lg-20">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="counter__box mb-30">
            <h3 class="counter__number">
              <span class="counter">2</span>+
                </h3>
            <p>Years of<br/>Experience</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="counter__box ps-xl-5 mb-30">
            <h3 class="counter__number">
              <span class="counter">10</span>+
                </h3>
            <p>Employees</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="counter__box ps-xl-5 mb-30">
            <h3 class="counter__number">
              <span class="counter">10</span>+
                </h3>
            <p>Clients</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 d-md-flex justify-content-lg-end">
          <div class="counter__box mb-30">
            <h3 class="counter__number">
              <span class="counter">100</span>%
                </h3>
            <p>
                  Customer<br/>
                  Satisfaction
                </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #endregion Counter -->
  <!-- #region Working Process -->
  <section class="working__process__area">
    <div class="grey-bg process__wrapper__about pt-180 pt-lg-60 pb-320 pb-lg-80 pb-md-90">
      <img class="shapes__1" src="assets/img/shape/about-line-2a.svg" alt="shape"/>
      <img class="shapes__2" src="assets/img/shape/faq-line-5a.svg" alt="shape"/>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="section__title text-center mb-60 pe-xxl-4">
              <h4 class="sub__title__one text-theme mb-20">
                    Working Process
                  </h4>
              <h2 class="section__title__one mb-25">
                    Our Process: From Concept to Concrete
                  </h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="single__process__box mb-40">
              <img class="star-icon" src="assets/img/icon/icon-48d.svg" alt="icon"/>
              <div class="tag">Step 01</div>
              <div class="icon mb-25">
                <img src="assets/img/icon/icon-44d.svg" alt="Icon"/>
              </div>
              <h4 class="single__box__title">
                <a href="#">Project Initiation</a>
              </h4>
              <p>
                    We receive the inquiry and our team of engineers studies
                    the requirements. Based on factors like product type
                    (e.g., FT flume drain, U-shape drain, kerb stones, paver
                    blocks, or box culverts), we suggest optimal solutions to
                    meet the client's needs.
                  </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single__process__box mb-40">
              <img class="star-icon" src="assets/img/icon/icon-48d.svg" alt="icon"/>
              <div class="tag">Step 02</div>
              <div class="icon mb-25">
                <img src="assets/img/icon/icon-45d.svg" alt="Icon"/>
              </div>
              <h4 class="single__box__title">
                <a href="#"> Design and Planning</a>
              </h4>
              <p>
                    Once the client confirms, we begin the mould design and
                    fabrication process. Simultaneously, our factory team
                    prepares and plans for production, considering the
                    specific precast concrete product requirements and the
                    client's timeline.
                  </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single__process__box mb-40">
              <img class="star-icon" src="assets/img/icon/icon-48d.svg" alt="icon"/>
              <div class="tag">Step 03</div>
              <div class="icon mb-25">
                <img src="assets/img/icon/icon-46d.svg" alt="Icon"/>
              </div>
              <h4 class="single__box__title">
                <a href="#">Manufacturing</a>
              </h4>
              <p>
                    Full-scale production begins, including casting the
                    concrete products. After casting, the products are moved
                    to a curing area where they undergo a 2-3 week curing
                    process using sprinkler systems and gunny bags as
                    necessary.
                  </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single__process__box mb-40">
              <img class="star-icon" src="assets/img/icon/icon-48d.svg" alt="icon"/>
              <div class="tag">Step 04</div>
              <div class="icon mb-25">
                <img src="assets/img/icon/icon-47d.svg" alt="Icon"/>
              </div>
              <h4 class="single__box__title">
                <a href="#">Quality Control and Delivery</a>
              </h4>
              <p>
                    We conduct thorough inspections to ensure product quality.
                    After client approval, we load the precast concrete
                    products onto trucks for delivery. For larger projects, we
                    can begin installation after the first few deliveries
                    while continuing to manufacture and deliver the remaining
                    products.
                  </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #endregion Working Process -->
  <!-- #region Sectors Served -->
  {# <section class="blog__area2 pt-85 pt-md-60 pb-90 pb-md-60">
    <div class="big-style-text">Sectors</div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="section__title text-center mb-50">
            <h4 class="sub__title__one text-theme mb-20">
                  Sector's Served
                </h4>
            <h2 class="section__title__one">
                  We Cater To Wide Range Of Industries
                </h2>
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-4 col-md-6">
          <div class="blog__two mb-30">
            <div class="blog__thumb mb-25">
              <a href="blog-details.html"><img class="w-100" src="assets/img/blog/blog-4b.jpg" alt="Blog"/></a>
            </div>
            <div class="blog__content">
              <a class="date__text" href="#">Transportation</a>
              <div class="inner__content">
                <h3 class="blog__title__two">
                  <a href="blog-details.html">Bridges culverts, retaining walls, drainage
                        systems</a>
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog__two mb-30">
            <div class="blog__thumb mb-25">
              <a href="blog-details.html"><img class="w-100" src="assets/img/blog/blog-5b.jpg" alt="Blog"/></a>
            </div>
            <div class="blog__content">
              <a class="date__text" href="#">Residential</a>
              <div class="inner__content">
                <h3 class="blog__title__two">
                  <a href="blog-details.html">Precast walls, foundations, septic tanks, noise
                        barriers.</a>
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="blog__two mb-30">
            <div class="blog__thumb mb-25">
              <a href="blog-details.html"><img class="w-100" src="assets/img/blog/blog-6b.jpg" alt="Blog"/></a>
            </div>

            <div class="blog__content">
              <a class="date__text" href="#">Industrial</a>
              <div class="inner__content">
                <h3 class="blog__title__two">
                  <a href="blog-details.html">Industrial floors, Building facades, Load-bearing
                        walls.</a>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="more__btn__box text-center mt-30">
        <a href="#" class="ht_btn hover-bg">
          <span>See More
                <img src="assets/img/icon/arrow1.svg" alt=""/></span></a>
      </div>
    </div>
  </section> #}
  <!-- #endregion Sectors Served -->

  <!-- #region ISO Certificate -->
  <section class="blog__area2 pt-85 pt-md-60 pb-90 pb-md-60">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="section__title text-center mb-50">
            <h4 class="sub__title__one text-theme mb-20">Certification</h4>
            <h2 class="section__title__one">ISO 9001:2015 Certified</h2>
            <p class="mt-3">Our commitment to quality is validated through ISO 9001:2015 certification, ensuring consistent delivery of superior precast concrete products.</p>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-6 text-center">
          <img src="assets/img/about/iso-9001.jpg" alt="ISO Certificate" class="img-fluid mb-4" style="max-width: 400px;">
        </div>
        <div class="col-md-6">
          <div class="certification__content">
            <ul class="text-list list-none">
              <li>Internationally recognized quality management system</li>
              <li>Standardized manufacturing processes</li>
              <li>Regular quality audits and improvements</li>
              <li>Enhanced customer satisfaction</li>
              <li>Documented quality control procedures</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #endregion ISO Certificate -->
</main>