---
title: Perfecto Precast | Leading Manufacturer of Precast Concrete Products
description: Perfecto Precast is a leading manufacturer of high-quality precast concrete products in Gandhinagar and Sabarkantha. Specializing in U Shape Drains, Box Culverts, FT Flumes, Retaining Walls and custom RCC products.
keywords: precast concrete, u shape drain, box culvert, ft flume, retaining wall, kerb stone, paver block, rcc products, concrete manufacturer, gandhinagar, sabarkantha, gujarat
layout: layouts/base.html
---

<main>
  <!-- #region Pagebanner -->
  <section class="theme__main__banner black-bg pt-215 pb-205 pb-lg-100 prevent-select">
    <div class="shapes__blur"></div>
    <!-- <img class="shapes shapes__1" src="assets/img/hero/hero-steel-1.png" alt="Shape One" style="filter: brightness(0.4);"> -->
    <img class="shapes shapes__2" src="assets/img/shape/hero-line-1.svg" alt="Shape Two"/>
    <!-- <img class="shapes shapes__3" src="assets/img/shape/star-1.svg" alt="Shape Three"> -->
    <div class="circular__box">
      <img class="circular__text" src="assets/img/hero/circular-text.png" alt="Circular"/>
      <img class="circular__img" src="assets/img/hero/steel-parts.png" alt="Circular"/>
    </div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-9 col-lg-12">
          <div class="theme__content text-xl-start text-center mb-5 mb-lg-0">
            <h4 class="sub__title mb-25">Building Future</h4>
            <h2 class="main__title mb-45">
              Shaping Future in Precast Concrete
            </h2>
            <a href="contact.html" class="ht_btn">
              <span>Explore Now
                <img src="assets/img/icon/arrow1.svg" alt=""/></span></a>
          </div>
        </div>
        <div class="col-lg-6 d-none">
          <div class="hero__img">
            <img src="assets/img/hero/hero-main-1a.jpg
                  " alt="hero__img"/>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper hero__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="assets/img/hero/hero-main-1a.jpg" alt="Hero Image" style="filter: brightness(0.3)"/>
        </div>
        <div class="swiper-slide">
          <img src="assets/img/hero/hero-main-4a.jpg" alt="Hero Image" style="filter: brightness(0.3)"/>
        </div>
        <div class="swiper-slide">
          <img src="assets/img/hero/hero-main-5b.jpg" alt="Hero Image" style="filter: brightness(0.3)"/>
        </div>
      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev">
        <img src="assets/img/icon/chevron-arrow-left.svg" alt="Arrow"/>
      </div>
      <div class="swiper-button-next">
        <img src="assets/img/icon/chevron-arrow-right.svg" alt="Arrow"/>
      </div>
    </div>
  </section>
  <!-- #endregion Pagebanner -->

  <!-- #region Home Page about -->
  <section class="about__area">
    <div class="about__section__wrapper2 pt-180 pb-50 pt-lg-120 pb-lg-30">
      <div data-text="About" class="big-style-text">About</div>
      <img class="about__shape__1" src="assets/img/shape/about-line-2a.svg" alt="About Shape"/>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-7 col-lg-6">
            <div class="about__img__wrapper mb-30">
              <div class="main__img">
                <img class="main__img__1b" src="assets/img/about/about-img-2b.jpg" alt="About"/>
              </div>
              <div class="experience__box">
                <img class="icon" src="assets/img/icon/icon-9a.svg" alt="Icon"/>
                <span>A+</span>
                <h3>16+ Years of Precasting</h3>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-lg-6">
            <div class="about__text__wrapper ps-xl-3 mb-30">
              <div class="section__title mb-30">
                <h4 class="sub__title__one text-theme mb-20">About us</h4>
                <h2 class="section__title__one mb-25">
                  A Leader in Precast Concrete Solutions
                </h2>
                <p class="mb-35 text-justify">
                  <!-- Established in 2023, Perfecto Precast has been a pioneer
                      in manufacturing high-quality precast concrete products
                      in Gandhinagar and Sabarkantha districts. Our expertise
                      spans a wide range of offerings, including precast
                      products such as U Shape Drain, FT Flume, Earth
                      Retaining wall, Box Culvert and Customize RCC Concrete
                      Products, etc. -->
                  We, Perfecto Precast are the leading manufacturer
                  of RCC Precast paver block, Kerb stone and Hume
                  pipe And other Precast Products at a large scale
                  since 2007 in GANDHINAGAR AND SABARKANTHA
                  DISTRICT.
                </p>
                <p class="text-justify">
                  <!-- Leveraging advanced technology and high-performance
                      concrete grades (M50 to M75), we craft durable,
                      low-maintenance solutions tailored to our clients'
                      specific needs. At Perfecto Precast, we blend innovation
                      with precision to deliver precast excellence that stands
                      the test of time. -->
                  Now, our Company Starts precast products such as
                  U-Shape Drain, FT Flume, Earth Retaining wall, Box
                  Culvert and Customize Precast Concrete Products,
                  etc. With Advance Technology for customized
                  Product using High-Performance Concrete grade
                  with the greatest care to get the maintenance-free
                  end product for long life.
                </p>
                <a href="about.html" class="ht_btn hover-bg">
                  <span>More Details
                    <img src="assets/img/icon/arrow1.svg" alt=""/></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #endregion Home Page about -->

  <!-- #region Our Products -->
  <section class="services__area2 pb-70 pb-lg-45 prevent-select" id="ourProducts">
    <div class="services__bg__wrapper pt-100 pb-250" data-background="assets/img/service/service-bg-1b.jpg" style="
              background-image: url('assets/img/service/service-bg-1b.jpg');
            ">
      <div class="big-style-text">Products</div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="section__title text-center mb-60">
              <h4 class="sub__title__one text-theme mb-20">
                Our Products
              </h4>
              <h2 class="section__title__one text-white">
                Perfecto Precast's Produces
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container services__slider__wrapper">
      <div class="row">
        <div class="col-lg-12">
          <div class="swiper services__slider__two swiper-initialized swiper-horizontal swiper-backface-hidden">
            <div class="swiper-wrapper" id="swiper-wrapper-569e2a556cbb7795" aria-live="off" style="
                      transition-duration: 300ms;
                      transform: translate3d(-1340px, 0px, 0px);
                    ">
              <div class="swiper-slide" role="group" aria-label="1 / 6" data-swiper-slide-index="0"
                style="width: 396.667px; margin-right: 50px">
                <div class="single__services__two mb-60">
                  <div class="product-name-bg">
                    <h4 style="color: white">
                      <span style="color: #e8112b">U Shape</span> Drain
                    </h4>
                  </div>
                  <div class="snake-line mb-15">
                    <img src="assets/img/shape/snake-line-1a.svg" alt="line"/>
                  </div>
                  <div class="services__thumb">
                    <img class="w-100" src="assets/img/service/service-7b.png" alt="Service"/>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" role="group" aria-label="2 / 6" data-swiper-slide-index="1"
                style="width: 396.667px; margin-right: 50px">
                <div class="single__services__two mb-60">
                  <div class="product-name-bg">
                    <h4 style="color: white">
                      <span style="color: #e8112b">Box</span> Culverts
                    </h4>
                  </div>
                  <div class="snake-line mb-15">
                    <img src="assets/img/shape/snake-line-1a.svg" alt="line"/>
                  </div>
                  <div class="services__thumb">
                    <img class="w-100" src="assets/img/service/service-2b.png" alt="Service"/>
                  </div>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-prev" role="group" aria-label="3 / 6" data-swiper-slide-index="2"
                style="width: 396.667px; margin-right: 50px">
                <div class="single__services__two mb-60">
                  <div class="product-name-bg mb-10">
                    <h4 style="color: white">
                      <span style="color: #e8112b">FT Flume</span> Drain
                    </h4>
                  </div>
                  <div class="snake-line mb-15">
                    <img src="assets/img/shape/snake-line-1a.svg" alt="line"/>
                  </div>
                  <div class="services__thumb">
                    <img class="w-100" src="assets/img/service/service-3b.png" alt="Service"/>
                  </div>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-active" role="group" aria-label="4 / 6" data-swiper-slide-index="3"
                style="width: 396.667px; margin-right: 50px">
                <div class="single__services__two mb-60">
                  <div class="product-name-bg">
                    <h4 style="color: white">
                      <span style="color: #e8112b">Retaining</span> Walls
                    </h4>
                  </div>
                  <div class="snake-line mb-15">
                    <img src="assets/img/shape/snake-line-1a.svg" alt="line"/>
                  </div>
                  <div class="services__thumb">
                    <img class="w-100" src="assets/img/service/service-4b.png" alt="Service"/>
                  </div>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-next" role="group" aria-label="5 / 6" data-swiper-slide-index="4"
                style="width: 396.667px; margin-right: 50px">
                <div class="single__services__two mb-60">
                  <div class="product-name-bg">
                    <h4 style="color: white">
                      <span style="color: #e8112b">Kerb</span> Stones
                    </h4>
                  </div>
                  <div class="snake-line mb-15">
                    <img src="assets/img/shape/snake-line-1a.svg" alt="line"/>
                  </div>
                  <div class="services__thumb">
                    <img class="w-100" src="assets/img/service/service-5b.png" alt="Service"/>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" role="group" aria-label="6 / 6" data-swiper-slide-index="5"
                style="width: 396.667px; margin-right: 50px">
                <div class="single__services__two mb-60">
                  <div class="product-name-bg">
                    <h4 style="color: white">
                      <span style="color: #e8112b">Paver</span> Blocks
                    </h4>
                  </div>
                  <div class="snake-line mb-15">
                    <img src="assets/img/shape/snake-line-1a.svg" alt="line"/>
                  </div>
                  <div class="services__thumb">
                    <img class="w-100" src="assets/img/service/service-6b.png" alt="Service"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-button-wrapper">
              <div class="swiper-button-prev">
                <img src="assets/img/icon/chevron-arrow-left.svg" alt="Arrow"/>
              </div>
              <div class="swiper-button-next">
                <img src="assets/img/icon/chevron-arrow-right.svg" alt="Arrow"/>
              </div>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
          </div>
        </div>
      </div>
      <div class="more__btn__box text-center">
        <a href="products.html" class="ht_btn hover-bg">
          <span>All Products
            <img src="assets/img/icon/arrow1.svg" alt=""/></span></a>
      </div>
    </div>
  </section>
  <!-- #endregion Our Products -->

  <!-- #region Our Services -->
  <section class="about__area">
    <div class="grey-bg about__section__wrapper pt-180 pb-70 pt-lg-120 pb-lg-30">
      <div data-text="About" class="big-style-text">Services</div>
      <img class="about__shape__1" src="assets/img/shape/about-line-2a.svg" alt="About Shape"/>
      <img class="about__shape__2" src="assets/img/shape/about-line-3a.svg" alt="About Shape"/>
      <div class="container">
        <div class="row align-items-center mb-20">
          <div class="col-lg-9 pe-lg-0">
            <div class="section__title text-lg-start text-center mb-30">
              <h4 class="sub__title__one text-theme mb-20">
                Our Services
              </h4>
              <h2 class="section__title__one">
                Need a fast, smart solution for your next project?
              </h2>
            </div>
          </div>
          <div class="col-lg-3 d-flex justify-content-center justify-content-lg-end">
            <div class="about__circular__box mb-30">
              <img src="assets/img/about/circular-text.png" alt="Circular Text"/>
              <span>A+</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="single__box mb-30">
              <div class="icon mb-35">
                <img class="front-icon" src="assets/img/icon/icon-1a.svg" alt="Icon"/>
                <img class="back-icon" src="assets/img/icon/icon-1w.svg" alt="Icon"/>
              </div>
              <h3 class="single__box__title">
                <a href="#">Planning</a>
              </h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="single__box mb-30">
              <div class="icon mb-35">
                <img class="front-icon" src="assets/img/icon/icon-2a.svg" alt="Icon"/>
                <img class="back-icon" src="assets/img/icon/icon-2w.svg" alt="Icon"/>
              </div>
              <h3 class="single__box__title">
                <a href="#">Costing</a>
              </h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="single__box mb-30">
              <div class="icon mb-35">
                <img class="front-icon" src="assets/img/icon/icon-3a.svg" alt="Icon"/>
                <img class="back-icon" src="assets/img/icon/icon-3w.svg" alt="Icon"/>
              </div>
              <h3 class="single__box__title">
                <a href="#">Maintainance</a>
              </h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="single__box mb-30">
              <div class="icon mb-35">
                <img class="front-icon" src="assets/img/icon/icon-4a.svg" alt="Icon"/>
                <img class="back-icon" src="assets/img/icon/icon-4w.svg" alt="Icon"/>
              </div>
              <h3 class="single__box__title">
                <a href="#">Transportaion</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #endregion Our Services -->
  <!-- #region Why Choose Us -->
  <section class="chose__us__area pt-120 pt-lg-60 pb-85 pb-lg-30">
    <div class="chose__section__wrapper">
      <div class="big-style-text style__2b">Choose Us</div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-5 col-lg-6">
            <div class="chose__text__wrapper pe-xxl-4 me-xxl-2 mb-30">
              <h4 class="sub__title__one text-theme mb-20">
                Why Choose Us
              </h4>
              <h2 class="section__title__one mb-20">
                Quality is key to our survival and growth
              </h2>
              <p class="text-justify">
                At <strong>PERFECTO PRECAST</strong> , we are dedicated to delivering excellence in every project we undertake. Our quality
                assurance process is meticulously designed to ensure that every detail, from the selection of materials to
                the final touches of construction, reflects our unwavering commitment to superior standards. We
                understand that the success of any structure relies heavily on the integrity of its components, which is why
                we prioritize using only the finest materials and employing skilled craftsmanship. By consistently
                surpassing industry benchmarks, we not only build structures but also trust and reliability with each
                precast concrete product. Our promise to you is a steadfast dedication to quality that is deeply rooted in
                the very foundation of our organization, ensuring that your investment stands strong for generations to
                come.
              </p>
              <div class="row gx-4">
                <div class="col-md-6">
                  <div class="feature__box mb-20">
                    {# <div class="icon">
                      <img src="assets/img/icon/icon-14b.svg" alt="Icon"/>
                    </div> #}
                    <h4>Reliability</h4>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="feature__box mb-20">
                    {# <div class="icon">
                      <img src="assets/img/icon/icon-15b.svg" alt="Icon"/>
                    </div> #}
                    <h4>Certifications</h4>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="feature__box mb-20">
                    {# <div class="icon">
                      <img src="assets/img/icon/icon-16b.svg" alt="Icon"/>
                    </div> #}
                    <h4>Improvement</h4>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="feature__box mb-20">
                    {# <div class="icon">
                      <img src="assets/img/icon/icon-17b.svg" alt="Icon"/>
                    </div> #}
                    <h4>Strigent Testing</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-7 col-lg-6">
            <div class="chose__img__wrapper text-center">
              <div class="main__img__2b">
                <img src="assets/img/chose/chose-img-2b.jpg" alt="Chose"/>
              </div>
              <img class="color__1b d-none d-xl-inline-block" src="assets/img/shape/colors-quare-1b.png" alt="Color"/>
              <div class="text__box">
                <img class="icon__2b" src="assets/img/icon/icon-18b.svg" alt="Icon"/>
                <h4>
                  "We humbly take pride in our work and do the right thing
                  in every situation."
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #endregion Why Choose Us -->

  <!-- #region Metrics -->
  <section class="counter__area">
    <div class="grey-bg counter__section__wrapper">
      <img class="shapes__1 d-none d-xl-inline-block" src="assets/img/shape/line-9a.svg" alt="Shape"/>
      <img class="shapes__2 d-none d-xl-inline-block" src="assets/img/shape/line-10a.svg" alt="Shape"/>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="counter__box mb-30">
              <h3 class="counter__number">
                <span class="counter">50</span>+
              </h3>
              <p>Tons/day<br/>Concrete Production</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="counter__box ps-xl-5 mb-30">
              <h3 class="counter__number">
                <span class="counter">20</span>+
              </h3>
              <p>Successful<br/>Projects</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="counter__box ps-xl-5 mb-30">
              <h3 class="counter__number">
                <span class="counter">10</span>+
              </h3>
              <p>
                Customizable<br/>
                Products
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 d-md-flex justify-content-lg-end">
            <div class="counter__box mb-30">
              <h3 class="counter__number">
                <span class="counter">50</span>+
              </h3>
              <p>
                Satisfied<br/>
                Customers
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="video__area">
    <div class="video__section__wrapper pb-80 pb-lg-60">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="full__video__bg" data-background="assets/img/video/video-bg-1a.jpg" style="
                      background-image: url('assets/img/video/video-bg-1a.jpg');
                    ">
              <div class="video__wrapper">
                <img class="video__text" src="assets/img/video/video-text-circular.svg" alt="Circular"/>
                <a class="popup-video" href="https://www.youtube.com/watch?v=GFK6A7Fbzug">
                  <i
                    class="bi bi-play-fill"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #endregion Metrics -->

  <section class="case__study__area pt-90 pb-90 pt-lg-60 pb-lg-60">
    <div class="big-style-text">Sectors</div>
    <div class="big-style-text text-two">Served</div>
    <div class="container-fluid px-0">
      <div class="row justify-content-center">
        <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-8">
          <div class="section__title text-center mb-60">
            <h4 class="sub__title__one mb-0">Sectors Served</h4>
            <div class="snake-line mb-15">
              <img src="assets/img/shape/snake-line-1a.svg" alt="line"/>
            </div>
            <h2 class="section__title__one">
              We Cater To Wide Range Of Industries
            </h2>
          </div>
        </div>
      </div>
      <div class="swiper case__slider__one swiper-initialized swiper-horizontal swiper-backface-hidden">
        <div class="swiper-wrapper" id="swiper-wrapper-33d7d449e10ed33c3" aria-live="off" style="
                  transition-duration: 300ms;
                  transform: translate3d(-2285px, 0px, 0px);
                ">
          <div class="swiper-slide" role="group" aria-label="7 / 8" style="width: 457px" data-swiper-slide-index="6">
            <div class="case__single__box">
              <div class="case__thumb">
                <img class="img-fluid" src="assets/img/case/case-3a.jpg" alt=""/>
              </div>

              <div class="case__content">
                <h3 class="case__title mb-25">Transportation</h3>
                <h4 style="color: white; max-width: 22ch">
                  Bridges culverts, retaining walls, drainage systems
                </h4>
                <img class="overlay__icon" src="assets/img/icon/icon-8a.svg" alt="Icon"/>
              </div>
            </div>
          </div>
          <div class="swiper-slide" role="group" aria-label="8 / 8" style="width: 457px" data-swiper-slide-index="7">
            <div class="case__single__box">
              <div class="case__thumb">
                <img class="img-fluid" src="assets/img/case/case-4a.jpg" alt=""/>
              </div>

              <div class="case__content">
                <h3 class="case__title mb-25">Residential</h3>
                <h4 style="color: white; max-width: 22ch">
                  Precast walls, foundations, septic tanks, noise barriers
                </h4>
                <img class="overlay__icon" src="assets/img/icon/icon-8a.svg" alt="Icon"/>
              </div>
            </div>
          </div>
          <div class="swiper-slide" role="group" aria-label="1 / 8" style="width: 457px" data-swiper-slide-index="0">
            <div class="case__single__box">
              <div class="case__thumb">
                <img class="img-fluid" src="assets/img/case/case-1a.jpg" alt=""/>
              </div>

              <div class="case__content">
                <h3 class="case__title mb-25">Industrial</h3>
                <h4 style="color: white; max-width: 22ch">
                  Industrial floors, Building facades, Load-bearing walls
                </h4>
                <img class="overlay__icon" src="assets/img/icon/icon-8a.svg" alt="Icon"/>
              </div>
            </div>
          </div>
          <div class="swiper-slide" role="group" aria-label="2 / 8" style="width: 457px" data-swiper-slide-index="1">
            <div class="case__single__box">
              <div class="case__thumb">
                <img class="img-fluid" src="assets/img/case/case-2a.jpg" alt=""/>
              </div>

              <div class="case__content">
                <h3 class="case__title mb-25">Flooring</h3>
                <h4 style="color: white; max-width: 22ch">
                  Rectangular, Hexagonal, Square Paver Blocks
                </h4>
                <img class="overlay__icon" src="assets/img/icon/icon-8a.svg" alt="Icon"/>
              </div>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-prev" role="group" aria-label="3 / 8" style="width: 457px"
            data-swiper-slide-index="2">
            <div class="case__single__box">
              <div class="case__thumb">
                <img class="img-fluid" src="assets/img/case/case-8b.png" alt=""/>
              </div>

              <div class="case__content">
                <h3 class="case__title mb-25">Warehouses</h3>
                <h4 style="color: white; max-width: 22ch">
                  Industrial floors, Building facades, Load-bearing walls
                </h4>
                <img class="overlay__icon" src="assets/img/icon/icon-8a.svg" alt="Icon"/>
              </div>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-active" role="group" aria-label="4 / 8" style="width: 457px"
            data-swiper-slide-index="3">
            <div class="case__single__box">
              <div class="case__thumb">
                <img class="img-fluid" src="assets/img/case/case-5a.png" alt=""/>
              </div>

              <div class="case__content">
                <h3 class="case__title mb-25">Parking</h3>
                <h4 style="color: white; max-width: 22ch">
                  Industrial floors, Building facades, Load-bearing walls
                </h4>
                <img class="overlay__icon" src="assets/img/icon/icon-8a.svg" alt="Icon"/>
              </div>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-next" role="group" aria-label="5 / 8" style="width: 457px"
            data-swiper-slide-index="4">
            <div class="case__single__box">
              <div class="case__thumb">
                <img class="img-fluid" src="assets/img/case/case-6a.png" alt=""/>
              </div>

              <div class="case__content">
                <h3 class="case__title mb-25">Infrastructure</h3>
                <h4 style="color: white; max-width: 22ch">
                  Industrial floors, Building facades, Load-bearing walls
                </h4>
                <img class="overlay__icon" src="assets/img/icon/icon-8a.svg" alt="Icon"/>
              </div>
            </div>
          </div>
          <div class="swiper-slide" role="group" aria-label="6 / 8" style="width: 457px" data-swiper-slide-index="5">
            <div class="case__single__box">
              <div class="case__thumb">
                <img class="img-fluid" src="assets/img/case/case-7a.png" alt=""/>
              </div>

              <div class="case__content">
                <h3 class="case__title mb-25">Building Facades</h3>
                <h4 style="color: white; max-width: 22ch">
                  Industrial floors, Building facades, Load-bearing walls
                </h4>
                <img class="overlay__icon" src="assets/img/icon/icon-8a.svg" alt="Icon"/>
              </div>
            </div>
          </div>
        </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
      </div>
    </div>
  </section>
</main>